FRONTEND_URL=http://localhost:4200
PORT=3000
NODE_ENV=development

DATABASE_PORT=5432
DATABASE_HOST=localhost
DATABASE_PASSWORD=Pass
DATABASE_NAME=YOUR_DATABASE_NAME
DATABASE_USER=postgres

JWT_ACCESS_SECRET=YOUR_JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=YOUR_JWT_REFRESH_SECRET

REDIS_TTL=3600
REDIS_URL=redis://:REDIS_URL@localhost:6379
REDIS_PASSWORD=REDIS_PASSWORD
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/YOUR_DISCORD_WEBHOOK_URL

STRIPE_SECRET_KEY=Stripe_Secret_Key
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret
STRIPE_PRICE_ID=price_example
STRIPE_CHECKOUT_SUCCESS_URL=http://localhost:3000/checkout/success
STRIPE_CHECKOUT_CANCEL_URL=http://localhost:3000/checkout/cancel

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Pass